{{- define "main" }}

<header class="page-header">
    {{- partial "breadcrumbs.html" . }}
    <h1>
        {{ .Title }}
        <sup class="page-header-meta">{{ len .Data.Terms }} 个</sup>
    </h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description | markdownify }}
    </div>
    {{- end }}
    {{- with site.GetPage "section" "posts" }}
    <div class="post-description">
        <a href="{{ .RelPermalink }}">查看全部文章</a>
    </div>
    {{- end }}
</header>

<ul class="terms-tags">
    {{- $type := .Type }}
    {{- range .Data.Terms.ByCount }}
    {{- $name := .Name }}
    {{- $count := .Count }}
    {{- with site.GetPage (printf "/%s/%s" $type $name) }}
    <li class="tag-card">
        <a href="{{ .RelPermalink }}">
            <span class="tag-card-name">#{{ .LinkTitle }}</span>
            <span class="tag-card-count">{{ $count }} 篇文章</span>
        </a>
    </li>
    {{- end }}
    {{- end }}
</ul>

{{- end }}{{/* end main */ -}}
